.sectionheading{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 8px;
    font-size: 50px;
    font-weight: 600;
    color: rgb(10, 11, 13);
    text-align: center;
}

.sectiondescription{
    color: rgb(91, 97, 110);
    text-align: center;
    font-size: medium;
}

.container{
    text-align: center;
    align-items: center;
}