.menuitem {
    margin: 0px 18px;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: rgb(5, 15, 25);
    text-align: center;
    padding: 20px 1px;
    border-bottom: 3px solid white;

}

.menuitem:hover{
    color: rgb(5, 15, 25);
    border-bottom: 3px solid #1652F0;
    transition: transform 0.8s;
    transform: scale(1, 1)

}

.menuitem::after, .menuitem::before {
    border-style: solid;
    border-width: 0;
}

.menuitem::before{
    content: '';
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
    color: rgb(5, 15, 25);
    border-style: solid;
    border-width: 0;
}

.menuitem:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    border-style: solid;
    border-width: 0;
  } 